{% extends "poke_calculator/base.html"%}
{% block content %}
	<h1>Pokemon Affinity Calculator</h1>
	<br>
	<h2>Current Pokemon Team</h2>
	<table class="table">
		<thead>
		  <tr>
			<th scope="col">Name</th>
			<th scope="col">Item</th>
			<th scope="col">Ability</th>
			<th scope="col">Nature</th>
			<th scope="col">Move1</th>
			<th scope="col">Move2</th>
			<th scope="col">Move3</th>
			<th scope="col">Move4</th>
		  </tr>
		</thead>
		{% for pokemon in pokemonTeam %}
		<tbody>
		  <tr>
			<td>{{ pokemon.name }}</td>
			<td>{{ pokemon.item }}</td>
			<td>{{ pokemon.nature }}</td>
			<td>{{ pokemon.ability }}</td>
			<td>{{ pokemon.move1 }}</td>
			<td>{{ pokemon.move2 }}</td>
			<td>{{ pokemon.move3 }}</td>
			<td>{{ pokemon.move4 }}</td>
		  </tr>
		</tbody>
		{% endfor %}
	  </table>
	<!-- current team table ^^^ -->
	<br>
	<br>
	<form method="post">
		<h2>Select Pokemon</h2>
		{% csrf_token %}
		{{ form }}
		<input type="submit" name="submit" value="Submit" />
		<br>
		<br>
		<h2>Export Team</h2>
		<input type="submit" name="export" value="Export Team" />
	</form>

{% endblock content %}